{% extends 'base.html.twig' %}

{% block title %}Tarefas{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1>Tarefas</h1>
        <a href="/tasks/new" class="btn btn-success">Nova tarefa</a>
    </div>
</div>
<br>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th style="width: 15%">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <th scope="row">{{ task.id }}</th>
                            <td>{{ task.title }}</td>
                            <td>{{ task.category.name }}</td>
                            <td>
                                <a href="/tasks/edit/{{ task.id }}" class="btn btn-sm btn-info">Editar</a>
                                <a href="/tasks/delete/{{ task.id }}" class="btn btn-sm btn-danger">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
